<div class="container">
<h1>{{title}}</h1>
<div class="row">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText">
</div>
<div class="row">
    <div class="col-4">
            <button routerLink="/residence/add" class="btn btn-outline-primary">New residence</button>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of filterByAdsress()">
            <td><img [src]='r.image' width="50" height="50"></td>
            <td>{{r.id}}</td>
            <td>{{r.name|uppercase}}</td>
            <td *ngIf="r.status == 'Disponible'">✅ {{r.status}}</td>
            <td *ngIf="r.status == 'Vendu'">⛔ {{r.status}}</td>
            <td *ngIf="r.status == 'En Construction'">🚧 {{r.status}}</td>
            <td><button class="btn btn-outline-primary" 
                (click)="showLocation(r)">Show Location</button></td>
                <td><button [ngClass]="isFavoris(r) ? 'btn btn-danger' : 'btn btn-outline-danger'" (click)="addToFavoris(r)" >{{isFavoris(r) ?'👎 Dislike' : '👍 Like'}}</button></td>

            <td><button class="btn btn-primary" [routerLink]="['/details/',r.id]">Details</button></td>
            <td><button class="btn btn-outline-primary" [routerLink]="['/apartment/add/',r.id]">add apartment</button></td>
            <td><button class="btn btn-outline-primary" [routerLink]="['/residence/show/',r.id]">show apartments</button></td>
        </tr>
    </tbody>
</table>

<div class="alert alert-success" 
*ngIf="!hide && selectedResidence.address != 'inconnu'">
    {{selectedResidence.address}}
</div>

<div class="alert alert-danger" 
*ngIf="!hide && selectedResidence.address == 'inconnu'">
    L'address est inconnu
</div>
<h3>Liste des favoris</h3>
<table class="table" *ngIf="listFavoris.length > 0">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of listFavoris">
            <td><img [src]='r.image' width="50" height="50"></td>
            <td>{{r.id}}</td>
            <td>{{r.name}}</td>
            <td *ngIf="r.status == 'Disponible'">✅ {{r.status}}</td>
            <td *ngIf="r.status == 'Vendu'">⛔ {{r.status}}</td>
            <td *ngIf="r.status == 'En Construction'">🚧 {{r.status}}</td>
            <td><button class="btn btn-outline-primary" (click)="showLocation(r)">Show Location</button></td>
        </tr>
    </tbody>
</table>
</div>